{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--css-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href= "{% static 'app/css/style.css' %}" rel = "stylesheet" />
        <link href= "{% static 'app/css/owl.carousel.min.css' %}" rel = "stylesheet" />
        <link href= "{% static 'app/css/all.min.css' %}" rel = "stylesheet" />
        <link rel = "stylesheet" typpe = "text/css" href= "{% static 'app/css/main.css' %}" />
        <!--javacript-->
        <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        <script src= "{% static 'app/js/s3.js' %}"> </script>
        <script src= "{% static 'app/js/all.min.js' %}"> </script>
        <script src= "{% static 'app/js/myscript.js' %}"> </script>
        <script type="text/javascript">
          var user = '{{request.user}}'
          function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        </script>
        <link rel="icon" type="image/png" href="{% static 'app/images/favicon.png' %}">
        <title>CARROT</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--Header-->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">  
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src = "{% static 'app/images/H&D.png'  %}" width = "80" height = "80" />
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Trang Chủ</a>
                  </li>
                  
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sản Phẩm
                    </a>
                    <ul class="dropdown-menu">
                      
                      {% for category in categories %}
                      <li><a class="dropdown-item" href="{% url 'category' %}?category={{category.slug}}">{{category.name}}</a></li>
                      <li><a class="dropdown-item" href="{% url 'category' %}?category={{i.slug}}">{{i.name}}</a></li>
                      {% endfor %}
                      {% for i in sub_categories %}
                      <li><a class="dropdown-item" href="{% url 'category' %}?category={{i.slug}}">{{i.name}}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/profile.php?id=61559011852069">Giởi Thiệu Sản Phẩm</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="https://m.me/61559011852069">Liện Hệ</a>
                  </li>
                </ul>
                <form class="d-flex" role="search"method = POST action = "{% url 'search' %}">
                  {% csrf_token %}
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name = "searched">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0" style ="margin-left:30px">
                <div class="form-inline my-2 my-lg-0" style = "visibility" {{user_login}}>
                  <span>Xin chào! {{ request.user }}</span>
                  <span><a href="{% url 'logout' %}">Đăng Xuất</a></span>
                </div>
                  <li class="nav-item">
                    <div class="form-inline my-2 my-lg-0" style = "visibility" {{user_not_login}}>
                      <a class="nav-link" style ="margin-left:20px" href="{% url 'login' %}">Đăng Nhập</a>
                    </div>  
                  </li>
                  <li class="nav-item">
                    <div class="form-inline my-2 my-lg-0" style = "visibility" {{user_not_login}}>
                      <a class="nav-link" style ="margin-left:20px" href="{% url 'register' %}">Đăng Ký</a>
                    </div>
                  </li>               
              </ul> 
              <div class="form-inline my-2 my-lg-0">
                <a href="{% url 'cart' %}"><img id="cart-icon" src="{% static 'images/cart.png' %}"></a>
                <p id='cart-total' >{{cartItems}}</p> 
                </div>
            </div>
          </nav>
        <!--MainBody-->
        {% block banner_slider %}{% endblock banner_slider %}
        {% block main-content %}{% endblock main-content %}
        {% block cart_content %}{% endblock cart_content %}
        {% block content_checkout %}{% endblock content_checkout %}
        {% block register %}{% endblock register %}
        <!--Footer-->
          <!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <a class="navbar-brand" href="http://online.gov.vn/">
      <img src = "{% static 'app/images/BCT.png'  %}" width = "200" height = "100" />
    </a>
    <!-- Left -->

    <!-- Right -->
    <footer class="bg-body-tertiary text-center">
      <div class="me-5 d-none d-lg-block">
        <span>KẾT NỐI VỚI CHÚNG TÔI:</span>
      </div>
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
          data-mdb-ripple-init
            class="btn text-white btn-floating m-1"
            style="background-color: #3b5998;"
            href="https://www.facebook.com/profile.php?id=61559011852069"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>
    
          <!-- Twitter -->
          <a
            data-mdb-ripple-init
            class="btn text-white btn-floating m-1"
            style="background-color: #55acee;"
            href="#!"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>
    
          <!-- Google -->
          <a
            data-mdb-ripple-init
            class="btn text-white btn-floating m-1"
            style="background-color: #dd4b39;"
            href="#!"
            role="button"
            ><i class="fab fa-google"></i
          ></a>
    
          <!-- Instagram -->
          <a
            data-mdb-ripple-init
            class="btn text-white btn-floating m-1"
            style="background-color: #ac2bac;"
            href="https://www.instagram.com/cosmeticscarrot/?igsh=MTg5aHA4Y2tiMGl0dA%3D%3D&utm_source=qr"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    </footer>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>CÔNG TY TNHH CARROT
          </h6>
          <p>
            Nơi Vẻ Đẹp Bắt Đầu.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            VỀ CARROT
          </h6>
          <p>
            <a href="{% url 'introduce' %}" class="text-reset">Tìm hiểu về CARROT</a>
          </p>
          <p>
            <a href="{% url 'introduce' %}" class="text-reset">Nguồn gốc thương hiệu</a>
          </p>
          <p>
            <a href="https://m.me/61559011852069" class="text-reset">Câu hỏi thường gặp</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            HỖ TRỢ KHÁCH HÀNG
          </h6>
          <p>
            <a href="https://www.instagram.com/cosmeticscarrot/?igsh=MTg5aHA4Y2tiMGl0dA%3D%3D&utm_source=qr" class="text-reset">Tư vẫn miễn phí</a>
          </p>
          <p>
            <a href="https://m.me/61559011852069" class="text-reset">Các chính sách giao hàng</a>
          </p>
          <p>
            <a href="https://m.me/61559011852069" class="text-reset">Các chính sách đổi trả</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i>
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Địa chỉ: 256 Đ. Nguyễn Văn Cừ, An Hoà, Ninh Kiều, Cần Thơ<br>
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            cosmeticscarrot@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i>0393554758 Góp ý, phản ánh(9h00 - 23h00)</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 by Copyright CARROT<br/ >
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Tất cả các sản phẩm đều không phải là thuốc, không có chức năng thay thế thuốc chữa bệnh. Thực phẩm thảo dược nhằm hỗ trợ, tăng cường và duy trì chức năng cơ thể. (*) Website chúng tôi đang trong quá trình thử nghiệm, sửa lỗi, hoàn thiện và xin giấy phép BCT.</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
        <script src= "{% static 'app/js/cart.js' %}"> </script>
        <script src="{% static 'app/js/top.js' %}"></script>
        <button onclick="topFunction()" id="myBtn" title="Go to top">
              <img src = "{% static 'app/images/muiten.png'  %}" width = "20" height = "20" alt="Go to top">
        </button>
        <a id="0393 55 4758" href="tel:0393554758">
          <div class="call-btn">
              <noscript><img src="https://netweb.vn/icon/phone.svg"/></noscript>
              <img class="lazyloaded" src="https://netweb.vn/icon/phone.svg" data-src="https://netweb.vn/icon/phone.svg"> 0393 55 4758
          </div>
        </a>
      
        <a href="https://m.me/61559011852069" target="_blank">
            <div class="messenger">
                <noscript><img style="height:58px;" src="https://netweb.vn/icon/messenger_icon.png"/></noscript>
                <img class="lazyloaded" style="height:58px;" src="https://netweb.vn/icon/messenger_icon.png" data-src="https://netweb.vn/icon/messenger_icon.png">
            </div>
        </a>
      
    </body>
</html>