{% extends "app/base.html" %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name = "description" content="">
        <meta name = "viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block register %}
        <div class="card">
          <h1 class="card-title-introduce">CARROT</h1>
          <div class="card-body-introduce">
            <strong>Với phương châm "Chất lượng thật - Giá trị thật”, CARROT</strong> luôn nỗ lực không ngừng nhằm nâng cao chất lượng sản phẩm & dịch vụ để khách hàng có được những trải nghiệm mua sắm tốt nhất. Toàn bộ sản phẩm có ở <strong>CARROT</strong> đều được cam kết 100% chính hãng, đảm bảo nguồn gốc xuất xứ, có đầy đủ hóa đơn mua hàng VAT và tem phụ Tiếng Việt, với mức giá luôn tốt hàng đầu thị trường trong mọi thời điểm. Ngoài ra, <strong>CARROT</strong> và nhãn hàng cam kết bảo vệ hai lớp với mức đền bù 200% nếu phát hiện hàng giả, trong đó 100% từ <strong>CARROT</strong> và 100% từ nhà phân phối, văn phòng đại diện hãng tại Việt Nam.
            <strong>CARROT</strong> sở hữu đa dạng các mặt hàng từ cao cấp đến bình dân, đáp ứng mọi nhu cầu của khách hàng. Đặc biệt, tại <strong>CARROT</strong> luôn có đầy đủ mẫu thử của mỗi sản phẩm và nhân viên tư vấn, giúp khách hàng dễ dàng chọn lựa và tăng trải nghiệm mua sắm.
          </div>
        </div>
        {% endblock register %}
        
    </body>

</html>