{% extends "app/base.html" %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name = "description" content="">
        <meta name = "viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block register %}
        <div class="card">
          <h1 class="card-title-introduce">GERME</h1>
          <div class="card-body-introduce">
            Chào mừng bạn đến với website bán quần áo của chúng tôi, nơi mang đến những sản phẩm thời trang đa dạng và phong cách cho mọi lứa tuổi. Tại đây, bạn có thể dễ dàng tìm kiếm và khám phá các bộ sưu tập mới nhất từ áo, quần, giày dép cho đến phụ kiện, tất cả đều được phân loại rõ ràng để giúp bạn tiết kiệm thời gian. Chúng tôi cam kết cung cấp hình ảnh sắc nét và mô tả chi tiết, cùng với đánh giá từ khách hàng để bạn có thể đưa ra quyết định mua sắm thông minh. Với các chương trình khuyến mãi hấp dẫn và phương thức thanh toán an toàn, chúng tôi hy vọng mang đến cho bạn trải nghiệm mua sắm trực tuyến thú vị và thuận tiện nhất. Hãy ghé thăm ngay để tìm kiếm phong cách riêng của bạn!
          </div>

        </div>
        {% endblock register %}
        
    </body>

</html>